# Prati

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy
import sklearn
import seaborn as sns
import xlrd
import time
import statsmodels.api as sm
from sklearn.preprocessing import PolynomialFeatures

import itertools

In [2]:
data=pd.read_excel('Data/Mini Project EFSA.xlsx')
data.rename(columns={'sex \n(0=M, 1=F)':'sex'}, inplace=True)
data

    response  number of animals    SD  dose  sex  endpoint
0      570.4                  9  75.6     0    0         1
1      548.5                 10  44.3    30    0         1
2      533.0                 10  72.3   100    0         1
3      488.1                  9  42.5   150    0         1
4      329.8                 10  46.8     0    1         1
5      319.7                 10  24.3    30    1         1
6      293.3                 10  20.1   100    1         1
7      312.4                 10  43.1   150    1         1
8       45.2                  9   1.5     0    0         2
9       44.6                 10   1.7    30    0         2
10      43.0                 10   3.8   100    0         2
11      42.8                  9   1.7   150    0         2
12      44.7                 10   1.3     0    1         2
13      44.1                 10   1.6    30    1         2
14      41.5                 10   1.6   100    1         2
15      42.1                 10   1.2   150    1         2
16      18.3                  9   0.5     0    0         3
17      17.9                 10   0.5    30    0         3
18      16.5                 10   0.6   100    0         3
19      16.3                  9   0.8   150    0         3
20      19.1                 10   0.5     0    1         3
21      19.0                 10   0.4    30    1         3
22      17.9                 10   0.5   100    1         3
23      17.3                 10   0.6   150    1         3

# Dataset

In [3]:
import funzioni as fn
data_Endpoint1 = data[data.endpoint == 1]
data_Endpoint2 = data[data.endpoint == 2]
data_Endpoint3 = data[data.endpoint == 3]

# Forward selection

## Forward selection endpoint1

In [4]:
Y = data_Endpoint1.response
weights = data.SD
X = data_Endpoint1.drop(columns=["response", "SD", "endpoint"])
group_of_models_endpoint1 = fn.mainForward(X, Y, weights, True)
display(group_of_models_endpoint1)

,model,RSS,number_of_predictors,name_of_predictors,Y_pred
0,<statsmodels.regression.linear_model.Regressio...,1.232095e+05,1,[number of animals],0 388.505906 1 431.673228 2 431.67322...
1,<statsmodels.regression.linear_model.Regressio...,7.597952e+05,1,[dose],0 0.000000 1 102.732485 2 342.44161...
2,<statsmodels.regression.linear_model.Regressio...,1.149252e+06,1,[sex],0 0.0 1 0.0 2 0.0 3 0.0 4 ...

Processed  3 models on 1 predictors in 0.031248092651367188 seconds.

,model,RSS,number_of_predictors,name_of_predictors,Y_pred
0,<statsmodels.regression.linear_model.Regressio...,121685.691287,2,"[number of animals, dose]",0 403.570701 1 441.390866 2 425.00847...
1,<statsmodels.regression.linear_model.Regressio...,6222.696768,2,"[number of animals, sex]",0 505.727901 1 561.919890 2 561.91989...

Processed  2 models on 2 predictors in 0.04039764404296875 seconds.

,model,RSS,number_of_predictors,name_of_predictors,Y_pred
0,<statsmodels.regression.linear_model.Regressio...,3908.060536,3,"[number of animals, sex, dose]",0 524.738347 1 574.386279 2 554.18817...

Processed  1 models on 3 predictors in 0.01898932456970215 seconds.
Total elapsed time: 0.11162304878234863 seconds.

,RSS,model,number_of_predictors,name_of_predictors,Y_pred
1,123209.466339,<statsmodels.regression.linear_model.Regressio...,1,[number of animals],0 388.505906 1 431.673228 2 431.67322...
2,6222.696768,<statsmodels.regression.linear_model.Regressio...,2,"[number of animals, sex]",0 505.727901 1 561.919890 2 561.91989...
3,3908.060536,<statsmodels.regression.linear_model.Regressio...,3,"[number of animals, sex, dose]",0 524.738347 1 574.386279 2 554.18817...

In [5]:
#model1 = group_of_models_endpoint1["model"][1]
#display(model1.summary())

In [6]:
#data_plot = data_Endpoint1.drop(columns=["SD", "dose", "sex", "endpoint"])
#display(data_plot)
#sm.graphics.plot_partregress("response", "number of animals", data= data_plot, obs_labels=False)
#group_of_models_endpoint1.plot(x = 'number_of_predictors', y = 'RSS')
#model1.params[1:-1]
#plt.plot(model1.params[1:-1], model1.params[1:], 'o')
#plt.plot([0, 500], [0, 500], '-')
#plt.xlabel("number of animals", size=14)
#plt.ylabel("response", size=14)

### AIC, BIC, MSE e ADJ_RSQUARE endpoint1

In [7]:
group_of_models_endpoint1 = fn.compute_criteria(group_of_models_endpoint1)
group_of_models_endpoint1

,RSS,model,number_of_predictors,name_of_predictors,Y_pred,aic,bic,mse,adj_rsquare
1,123209.466339,<statsmodels.regression.linear_model.Regressio...,1,[number of animals],0 388.505906 1 431.673228 2 431.67322...,101.840614,101.920055,192891.725,0.908750
2,6222.696768,<statsmodels.regression.linear_model.Regressio...,2,"[number of animals, sex]",0 505.727901 1 561.919890 2 561.91989...,79.955153,80.114037,192891.725,0.994623
3,3908.060536,<statsmodels.regression.linear_model.Regressio...,3,"[number of animals, sex, dose]",0 524.738347 1 574.386279 2 554.18817...,78.233856,78.472181,192891.725,0.995948

## Forward selection endpoint2

In [8]:
Y = data_Endpoint2.response
weights = data.SD
X = data_Endpoint2.drop(columns=["response", "SD", "endpoint"])
group_of_models_endpoint2 = fn.mainForward(X, Y, weights)
display(group_of_models_endpoint2)

Processed  3 models on 1 predictors in 0.015571832656860352 seconds.
Processed  2 models on 2 predictors in 0.01562356948852539 seconds.
Processed  1 models on 3 predictors in 0.0 seconds.
Total elapsed time: 0.04681897163391113 seconds.

,RSS,model,number_of_predictors,name_of_predictors,Y_pred
1,51.303412,<statsmodels.regression.linear_model.Regressio...,1,[number of animals],8 40.062992 9 44.514436 10 44.51443...
2,34.458343,<statsmodels.regression.linear_model.Regressio...,2,"[number of animals, sex]",8 41.469613 9 46.077348 10 46.07734...
3,27.729987,<statsmodels.regression.linear_model.Regressio...,3,"[number of animals, sex, dose]",8 42.494570 9 46.749479 10 45.66048...

### AIC, BIC, MSE e ADJ_RSQUARE endpoint2

In [9]:
group_of_models_endpoint2 = fn.compute_criteria(group_of_models_endpoint2)
group_of_models_endpoint2

,RSS,model,number_of_predictors,name_of_predictors,Y_pred,aic,bic,mse,adj_rsquare
1,51.303412,<statsmodels.regression.linear_model.Regressio...,1,[number of animals],8 40.062992 9 44.514436 10 44.51443...,39.569542,39.648984,1893.825,0.996130
2,34.458343,<statsmodels.regression.linear_model.Regressio...,2,"[number of animals, sex]",8 41.469613 9 46.077348 10 46.07734...,38.385493,38.544376,1893.825,0.996967
3,27.729987,<statsmodels.regression.linear_model.Regressio...,3,"[number of animals, sex, dose]",8 42.494570 9 46.749479 10 45.66048...,38.647599,38.885924,1893.825,0.997072

## Forward selection endpoint3

In [10]:
Y = data_Endpoint3.response
weights = data.SD
X = data_Endpoint3.drop(columns=["response", "SD", "endpoint"])
group_of_models_endpoint3 = fn.mainForward(X, Y, weights)
display(group_of_models_endpoint3)

Processed  3 models on 1 predictors in 0.015572309494018555 seconds.
Processed  2 models on 2 predictors in 0.015633821487426758 seconds.
Processed  1 models on 3 predictors in 0.01561594009399414 seconds.
Total elapsed time: 0.04682207107543945 seconds.

,RSS,model,number_of_predictors,name_of_predictors,Y_pred
1,9.019606,<statsmodels.regression.linear_model.Regressio...,1,[number of animals],16 16.398425 17 18.220472 18 18.22047...
2,4.786838,<statsmodels.regression.linear_model.Regressio...,2,"[number of animals, dose]",16 17.192415 17 18.732641 18 17.86920...
3,4.724882,<statsmodels.regression.linear_model.Regressio...,3,"[number of animals, dose, sex]",16 17.104534 17 18.636181 18 17.77551...

### AIC, BIC, MSE e ADJ_RSQUARE endpoint3

In [11]:
group_of_models_endpoint3 = fn.compute_criteria(group_of_models_endpoint3)
group_of_models_endpoint3

,RSS,model,number_of_predictors,name_of_predictors,Y_pred,aic,bic,mse,adj_rsquare
1,9.019606,<statsmodels.regression.linear_model.Regressio...,1,[number of animals],16 16.398425 17 18.220472 18 18.22047...,25.662690,25.742131,317.34375,0.995940
2,4.786838,<statsmodels.regression.linear_model.Regressio...,2,"[number of animals, dose]",16 17.192415 17 18.732641 18 17.86920...,22.594445,22.753328,317.34375,0.997486
3,4.724882,<statsmodels.regression.linear_model.Regressio...,3,"[number of animals, dose, sex]",16 17.104534 17 18.636181 18 17.77551...,24.490225,24.728550,317.34375,0.997022

## Backward selection

## Backward selection endpoint1

In [12]:
Y = data_Endpoint1.response
weights = data.SD
X = data_Endpoint1.drop(columns=["response", "SD", "endpoint"])
group_of_models_endpoint1 = fn.mainBackward(X, Y, weights)
display(group_of_models_endpoint1)

Processed  3 models on 2 predictors in 0.015573978424072266 seconds.
Processed  2 models on 1 predictors in 0.015631437301635742 seconds.
Total elapsed time: 0.031205415725708008 seconds.

,RSS,model,number_of_predictors,name_of_predictors,Y_pred
2,6222.696768,<statsmodels.regression.linear_model.Regressio...,2,"[number of animals, sex]",0 505.727901 1 561.919890 2 561.91989...
1,123209.466339,<statsmodels.regression.linear_model.Regressio...,1,[number of animals],0 388.505906 1 431.673228 2 431.67322...

### AIC, BIC, MSE e ADJ_RSQUARE endpoint1

In [13]:
group_of_models_endpoint1 = fn.compute_criteria(group_of_models_endpoint1)
group_of_models_endpoint1

,RSS,model,number_of_predictors,name_of_predictors,Y_pred,aic,bic,mse,adj_rsquare
2,6222.696768,<statsmodels.regression.linear_model.Regressio...,2,"[number of animals, sex]",0 505.727901 1 561.919890 2 561.91989...,79.955153,80.114037,192891.725,0.994623
1,123209.466339,<statsmodels.regression.linear_model.Regressio...,1,[number of animals],0 388.505906 1 431.673228 2 431.67322...,101.840614,101.920055,192891.725,0.908750

## Backward selection endpoint2

In [14]:
Y = data_Endpoint2.response
weights = data.SD
X = data_Endpoint2.drop(columns=["response", "SD", "endpoint"])
group_of_models_endpoint2 = fn.mainBackward(X, Y, weights)
display(group_of_models_endpoint2)

Processed  3 models on 2 predictors in 0.01501154899597168 seconds.
Processed  2 models on 1 predictors in 0.010988950729370117 seconds.
Total elapsed time: 0.03898048400878906 seconds.

,RSS,model,number_of_predictors,name_of_predictors,Y_pred
2,34.458343,<statsmodels.regression.linear_model.Regressio...,2,"[number of animals, sex]",8 41.469613 9 46.077348 10 46.07734...
1,51.303412,<statsmodels.regression.linear_model.Regressio...,1,[number of animals],8 40.062992 9 44.514436 10 44.51443...

In [16]:
group_of_models_endpoint2 = fn.compute_criteria(group_of_models_endpoint2)
group_of_models_endpoint2

,RSS,model,number_of_predictors,name_of_predictors,Y_pred,aic,bic,mse,adj_rsquare
2,34.458343,<statsmodels.regression.linear_model.Regressio...,2,"[number of animals, sex]",8 41.469613 9 46.077348 10 46.07734...,38.385493,38.544376,1893.825,0.996967
1,51.303412,<statsmodels.regression.linear_model.Regressio...,1,[number of animals],8 40.062992 9 44.514436 10 44.51443...,39.569542,39.648984,1893.825,0.996130

## Backward selection endpoint3

In [15]:
Y = data_Endpoint3.response
weights = data.SD
X = data_Endpoint3.drop(columns=["response", "SD", "endpoint"])
group_of_models_endpoint3 = fn.mainBackward(X, Y, weights)
display(group_of_models_endpoint3)

Processed  3 models on 2 predictors in 0.011972665786743164 seconds.
Processed  2 models on 1 predictors in 0.007083892822265625 seconds.
Total elapsed time: 0.027570009231567383 seconds.

,RSS,model,number_of_predictors,name_of_predictors,Y_pred
2,4.786838,<statsmodels.regression.linear_model.Regressio...,2,"[number of animals, dose]",16 17.192415 17 18.732641 18 17.86920...
1,9.019606,<statsmodels.regression.linear_model.Regressio...,1,[number of animals],16 16.398425 17 18.220472 18 18.22047...

In [17]:
group_of_models_endpoint3 = fn.compute_criteria(group_of_models_endpoint3)
group_of_models_endpoint3

,RSS,model,number_of_predictors,name_of_predictors,Y_pred,aic,bic,mse,adj_rsquare
2,4.786838,<statsmodels.regression.linear_model.Regressio...,2,"[number of animals, dose]",16 17.192415 17 18.732641 18 17.86920...,22.594445,22.753328,317.34375,0.997486
1,9.019606,<statsmodels.regression.linear_model.Regressio...,1,[number of animals],16 16.398425 17 18.220472 18 18.22047...,25.662690,25.742131,317.34375,0.995940